/*body {  
    margin: 0px; 
}

.header {  
    float:right;
    background:#EDEDED; 
    height:50px; 
    width: 83%; 
}

.sidebar {  
    float:left; 
    width:17%; 
    height:794px; 
    background: #006D52; 
}

.sidebar ul {
    list-style:none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0;
    padding:0;
    color: white;
    width:17%;
    position:fixed;
}

li a {
    display:block;
    padding: 15px 16px;
    color: white;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color:#439645;
    color:white;
}

h2 {
    font-family:Rockwell;
    font-size: xx-large;
    color: white;
    text-align: center;
}*/

.sidebar {
    background-color: #006D52;
    float:left;
    width:20%;
    color:white;
    height:794px;
    position:fixed; 
}

.header {
    background-color:#EDEDED;
    width: 80%;
    float:right;
}

h2 {
    padding-top: 10px;
    padding-bottom: 20px;
    font-family: Rockwell;
    text-align: center;
    font-size: xx-large;
}

.nav.navbar-nav.navbar-right li a {
    color: gray;
}

.nav.nav-pills.nav-stacked li a{
    color: white;
    font-size: 16px;
    padding: 15px 16px;
}
    
.nav.nav-pills.nav-stacked li a:hover{
    background-color: #559f74;
}
    
.nav.nav-pills.nav-stacked li a:focus{
    background-color: #559f74;
}

.main {
    float: right;
    width: 80%;
    height: 744px;
    /*background: #F7F7F7;*/  
    background-color: #F7F7F7;
    font-family: Arial;
    overflow: auto;
    font-size: 16px;
}

#container {
    width: 100%;
    height:100%;
    margin: 0px auto;
}
/*Login*/
.login-main {
    overflow-x: hidden;
    overflow-y: hidden;
    display: block;
    padding-top: 60px;
}

.login-box {
    width: 360px;
    margin: 7% auto;
}

.login-box-body {
    background-color: #fff;
    padding: 20px;
}

.login-box-msg {
    margin: 0;
    text-align: center;
    padding: 0 20px 20px 20px;
}

.form-control {
    width: 100%;
    padding: 6px 12px;
}

.login-button {
    margin-top: 24px;
    padding: 18px;
}

.login-logo, .register-logo {
    font-size: 35px;
    text-align: center;
    font-weight: 300;
}

.usertype {
    float: right;
    font-size: 14px;
    margin: 12px;
}

#bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

#bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}

#page-wrap {
    position: relative;
    width: 440px;
    margin: 7% auto;
    padding: 20px;
    background: white;
    -moz-box-shadow: 0 0 20px black;
    -webkit-box-shadow: 0 0 20px black;
    box-shadow: 0 0 20px black;
}